
<!--
{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}
-->
<div class="cover-card table-cell table-middle">
  <img src="{{ site.url }}/img/{{ site.owner.avatar }}" alt="" class="avatar">
  <a href="{{ site.sidebar[page.lang].home.url }}/" class="author_name">{{ site.owner.name }}</a>
  <span class="author_job">{{ site.owner.job[page.lang] }}</span>
  <span class="author_bio mbm">{{ site.owner.bio[page.lang] }}</span>

  <nav class="nav">
    <ul class="nav-list">
      {% for menu in site.sidebar_owner[page.lang] %}
        <li class="nav-item">
          <a href="{{ menu[1].url }}">{{ menu[1].name }} </a>{% unless forloop.last %}<span>/</span>{% endunless %}
        </li>
      {% endfor %}
    </ul>
  </nav>

<nav class="nav">
    <ul class="nav-list">
      {% for menu in site.sidebar_pages[page.lang] %}
        <li class="nav-item">
          <a href="{{ menu[1].url }}">{{ menu[1].name }} </a>{% unless forloop.last %}<span>/</span>{% endunless %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="nav">
      <ul class="nav-list">
        {% for language in site.sidebar_languages %}
          <li class="nav-item">
            <a href="{{ language[1].url }}">{{ language[1].name }} </a>{% unless forloop.last %}<span>/</span>{% endunless %}
          </li>
        {% endfor %}
      </ul>
    </nav>

  {% include social-links.html %}
</div>
