<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>s
    </div>
    <div class="col s12 m9">
      <div class="post-listing">

        {% if page.ref != "index" %}
          <nav class="nav">
            <ul class="nav-list">
              {{ site.read_also[page.lang] }}
              {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %}
                {% assign language_available = site.languages[post.lang] %}
                <li class="nav-item">
                  <a href="{{ post.url }}" class="{{ post.lang }}">{{ language_available }} </a>{% unless forloop.last %}<span>/</span>{% endunless %}
                </li>
              {% endfor %}

              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %}
                <li class="nav-item">
                  <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }} </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}

        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
